
@{
    ViewBag.Title = "jefe sucursal";
}

<h2>jefe sucursal</h2>

<div class="col-md-4">
    <dl>
     
        <dd>

            <input type="button" value="Estado Ambulancias" class="btn btn-primary btn-lg active" onclick="location.href='@Url.Action("index", "estado_ambulancia")'" />
        </dd>
    </dl>
</div>
<div class="col-md-4">
    <dl>
      
        <dd>

            <input type="button" value="Asignacion de Choferes" class="btn btn-primary btn-lg active" onclick="location.href='@Url.Action("index", "Chofer_ambulancia")'" />
        </dd>
    </dl>
</div>
<div class="col-md-4">
    <dl>
        
        <dd>

            <input type="button" value="Turnos del Personal" class="btn btn-primary btn-lg active" onclick="location.href='@Url.Action("index", "turno_personal")'" />
        </dd>
    </dl>
</div>
<div class="col-md-4">
    <dl>
        
        <dd>

            <input type="button" value="Turnos Choferes" class="btn btn-primary btn-lg active" onclick="location.href='@Url.Action("index", "turno_choferes")'" />
        </dd>
    </dl>
</div>
<div>
    ___________________________________________________________________________________________________________________________

</div>